{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Logowanie {% endblock %}

{% block strona %}



<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Zaloguj się</h5>
        <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <br>
            <button type="submit" class="btn btn-primary">Zaloguj <i class="fa-solid fa-right-to-bracket"></i></button>

        </form>

    </div>
</div>


{% endblock %}