{% extends 'glowny.html' %}
{% load bootstrap %}

{% block tytul %} Edytuj/dodaj {% endblock %}

{% block strona %}


<div class="card" style="width: 30rem; float: left; margin-right: 1rem;">
    <div class="card-body">
        {% if nowy %}
        <h5 class="card-title">Dodaj film</h5>
        {% else %}
        <h5 class="card-title">Edytuj film</h5>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            <!-- trzeba dodać aby submit nie wywalił errora CSRF-->
            {% csrf_token %}
            {{ form|bootstrap }}
            {{ form_dodatkowe|bootstrap }}
            <br>
            {% if nowy %}
            <button type="submit" class="btn btn-primary">Zapis</button>
            {% else %}
            <button type="submit" class="btn btn-primary">Aktualizuj</button>
            {% endif %}
        </form>

    </div>
</div>

<div class="card" style="width: 30rem; float: left; margin-right: 1rem;">
    <div class="card-body">

        <h5 class="card-title">Oceń film</h5>
        <form method="post" enctype="multipart/form-data">
            <!-- trzeba dodać aby submit nie wywalił errora CSRF-->
            {% csrf_token %}
            {{ form_ocena|bootstrap }}
            <br>

            <button type="submit" class="btn btn-primary">Oceń</button>

        </form>

    </div>
</div>

<a href="{% url 'wszystkie_ahref' %}">Wróć do filmów</a>
<br>

Oceny:
{% for ocena in oceny %}
<h4>{{ ocena.gwiazdki }}</h4>
<p>{{ ocena.recenzja }}</p>
{% endfor %}





{% endblock %}