{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'moj.css' %}">
    <script src="https://kit.fontawesome.com/e561678a92.js" crossorigin="anonymous"></script>
    <title>{% block tytul %} {% endblock %}</title>


</head>

<body>
    {% block strona %} {% endblock %}
</body>

</html>